header {
    background-color: #ffffff;
    height: 93px;
    margin-top: 2px;
    margin-bottom: 15px;
    border-bottom: 2px solid #cccccc;
}

#topscreen {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 1px;
    height: 91px;
    width: 252px;
    float: left;
    text-align: center;
    margin-left: 219px;
}

.links {
    position: absolute;
    right: 200px;
    top: 40px;
}

a {
    font-size: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #cccccc;
}

#portfolio {
    background-image: url("../images/dust.png");
    margin: 0;
    padding: 0;
}

.whole-portfolio {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    height: 793px;
    width: 810px;
    margin-left: 280px;
    margin-bottom: 33px;
    padding-top: 8px;
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
}

#portfolio-content {
    color: #4aaaa5;
    font-size: 21px;
    border-bottom: 4px solid #cccccc;
    margin-bottom: 27px;
}


img {
    position: absolute;
    width: 230px;
    height: 175px;
    z-index: 1;
}

#happy-shades {
    bottom: 7%;
    left: 3%;
}

#happy-point {
    bottom: 35%;
    left: 3%;
}

#happy-keys {
    bottom: 7%;
    left: 34%;
}

#happy-computer {
    bottom: 35%;
    left: 34%;
}

#happy-buff {
    left: 34%
}

.holder {
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    padding-bottom: 5px;
    height: 52px;
    width: 230px;
    position: absolute;
    z-index: 2;
}

.one {
    bottom: 8%;
    left: 3%;
}

.two {
    bottom: 36%;
    left: 3%;
}

.three {
    bottom: 8%;
    left: 34%;
}

.four {
    bottom: 36%;
    left: 34%;
}

.five {
    left: 34%;
    bottom: 63%;
}

.six {
    left: 3%;
    bottom: 63%;
}


footer {
    background-color: #666666;
    border-top: 9px solid #4aaaa5;
    height: 60px;
    text-align: center;
    padding-top: 82px;
    font-size: 12px;
    color: #ffffff;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}